@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";


}

<partial name="_CSS" />

<div class="container">
    <br>
    <br>

    <section class="hero pb-3 bg-cover bg-center d-flex align-items-center ml-1" style="background: url(/customer/img/ecommerce-2140603_1280.jpg)">
        <div class="container py-5">
            <div class="row px-4 px-lg-5">
                <div class="col-lg-6">
                </div>
            </div>
        </div>
    </section>


    <div class="service-card card-detailes">
        <div class="card_img text-center">
            <i class="fas fa-shopping-cart fa-3x animated infinite bounce" ></i> <!-- Green color, bouncing animation -->
        </div>
        <h3>How do I place an order?</h3>
        <p>To place an order, simply browse our product selection, add items to your shopping cart, and proceed to checkout. You will need to provide shipping information and payment details before finalizing your order.</p>
    </div>

    <div class="service-card card-detailes">
        <div class="card_img text-center">
            <i class="fas fa-credit-card fa-3x animated infinite pulse" ></i> <!-- Blue color, pulsing animation -->
        </div>
        <h3>What payment methods do you accept?</h3>
        <p>We accept a variety of payment methods, including credit cards and debit cards. More detailed information is available at checkout.</p>
    </div>

    <div class="service-card card-detailes">
        <div class="card_img text-center">
            <i class="fas fa-exchange-alt"></i>
        </div>
        <h3>Can I return or exchange an item?</h3>
        <p>Yes, we have a return and exchange policy that allows you to return or exchange items within a specific period. Please refer to our Return and Refund Policy page for detailed information.</p>
    </div>

    <div class="service-card card-detailes">
        <div class="card_img text-center">
            <i class="fas fa-globe"></i>
        </div>
        <h3>Do you offer international shipping?</h3>
        <p>Yes, we ship to many countries worldwide. Shipping costs and delivery times vary depending on the destination. Please visit our Shipping Information page for more details.</p>
    </div>

    <div class="service-card card-detailes">
        <div class="card_img text-center">
            <i class="fas fa-lock"></i>
        </div>
        <h3>Is my personal information secure?</h3>
        <p>We take your privacy and security seriously. All transactions are encrypted with the latest security technology, and we do not share your personal information with third parties without your consent. For more information, please visit our Privacy Policy page.</p>
    </div>

    <div class="service-card card-detailes">
        <div class="card_img text-center">
            <i class="fas fa-user-cog"></i>
        </div>
        <h3>How do I update my account information?</h3>
        <p>You can update your account information by logging into your account on our website and navigating to the account settings section. Here, you can update your shipping address, payment methods, and other personal information.</p>
    </div>

    <p>If you have any other questions not covered here, please don't hesitate to contact us. We're here to help!</p>
    <br>
    <br>
    </div>