@{
    ViewBag.Title = "FAQS";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";


}



<div class="container">

    <br>
    <br>
    <h3>Frequently Asked Questions</h3>

    <h3>How do I place an order?</h3>
    <p>To place an order, simply browse our product selection, add items to your shopping cart, and proceed to checkout. You will need to provide shipping information and payment details before finalizing your order.</p>

    <h3>What payment methods do you accept?</h3>
    <p>We accept a variety of payment methods, including credit cards and debit cards. More detailed information is available at checkout.</p>

    <h3>How can I track my order?</h3>
    <p>Once your order has been shipped, you will receive an email with tracking information. You can use this information to track your order's progress to your doorstep.</p>

    <h3>Can I return or exchange an item?</h3>
    <p>Yes, we have a return and exchange policy that allows you to return or exchange items within a specific period. Please refer to our Return and Refund Policy page for detailed information.</p>

    <h3>Do you offer international shipping?</h3>
    <p>Yes, we ship to many countries worldwide. Shipping costs and delivery times vary depending on the destination. Please visit our Shipping Information page for more details.</p>

    <h3>How can I contact customer service?</h3>
    <p>Our customer service team can be reached via email at support@instock.com or through our website's contact form. We strive to respond to all inquiries within 24 hours.</p>

    <h3>Is my personal information secure?</h3>
    <p>We take your privacy and security seriously. All transactions are encrypted with the latest security technology, and we do not share your personal information with third parties without your consent. For more information, please visit our Privacy Policy page.</p>

    <h3>How do I update my account information?</h3>
    <p>You can update your account information by logging into your account on our website and navigating to the account settings section. Here, you can update your shipping address, payment methods, and other personal information.</p>

    <p>If you have any other questions not covered here, please don't hesitate to contact us. We're here to help!</p>
    <br />
    <br />

</div>

@section Js
{


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



}