

@{
    ViewBag.Title = "Returns & Refunds";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";

 
}



<div class="container">
   
    <br>
    <br>
    <h3>Return and Refund Policy</h3>
    <p>Our Return and Refund Policy was last updated 03/2024.</p>
    <p>Thank you for shopping at InStock.</p>
    <p>If, for any reason, You are not completely satisfied with a purchase We invite You to review our policy on refunds and returns. This Return and Refund Policy applies to any products that You purchased with Us.</p>

    <h3>Interpretation and Definitions</h3>
    <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>

    <h3>Definitions</h3>
    <p>For the purposes of this Return and Refund Policy:</p>
    <p>"Company" refers to InStock Company.</p>
    <p>"Goods" refers to the items offered for sale on the Service.</p>
    <p>"Orders" means a request by You to purchase Goods from Us.</p>
    <p>"Service" refers to the Website.</p>
    <p>"Website" refers to InStock, accessible from InStock.com.</p>
    <p>"You" means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>

    <h3>Your Order Cancellation Rights</h3>
    <p>You are entitled to cancel Your Order within 14 days without giving any reason for doing so.</p>
    <p>The deadline for cancelling an Order is 14 days from the date on which You received the Goods or on which a third party you have appointed, who is not the carrier, takes possession of the product delivered.</p>
    <p>In order to exercise Your right of cancellation, You must inform Us of your decision by means of a clear statement. You can inform us of your decision by visiting the specified page on our website or by sending us an email.</p>

    <h3>Conditions for Returns</h3>
    <p>In order for the Goods to be eligible for a return, please make sure that the Goods were purchased in the last 14 days and the Goods are in the original packaging.</p>
    <p>The supply of Goods made to Your specifications or clearly personalized cannot be returned. Goods which are not suitable for return due to health protection or hygiene reasons and were unsealed after delivery, or which are, after delivery, according to their nature, inseparably mixed with other items, also cannot be returned. We reserve the right to refuse returns of any merchandise that does not meet the above return conditions in our sole discretion.</p>

    <h3>Returning Goods</h3>
    <p>You are responsible for the cost and risk of returning the Goods to Us. We cannot be held responsible for Goods damaged or lost in return shipment. Therefore, We recommend an insured and trackable mail service. We are unable to issue a refund without actual receipt of the Goods or proof of received return delivery.</p>

    <h3>Gifts</h3>
    <p>If the Goods were marked as a gift when purchased and then shipped directly to you, You'll receive a gift credit for the value of your return. Once the returned product is received, a gift certificate will be mailed to You.</p>

    <p>For more information about our return and refund policy, please contact us at support@instock.com.</p>
        <br />
        <br />
        
</div>

@section Js
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}