@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";


}



<div class="container">
    <br />
    <br />
    <br />

    <h3>Introduction</h3>
    <p>Welcome to InStock! These terms and conditions outline the rules and regulations for the use of InStock's Website, located at instock.com.</p>

    <h3>Acceptance of Terms</h3>
    <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use InStock if you do not agree to take all of the terms and conditions stated on this page.</p>

    <h3>Modification of Terms</h3>
    <p>The Company reserves the right, at its sole discretion, to modify or replace these Terms at any time. If a revision is material, we will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect.</p>

    <h3>Account Registration</h3>
    <p>You may be required to register with our site in order to access certain services or areas of the site. If you are required to register, we ask you to provide accurate and current information about yourself.</p>

    <h3>Content</h3>
    <p>Content found on or through this Service are the property of InStock or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>

    <h3>Privacy</h3>
    <p>Your use of the Website is also subject to our Privacy Policy. Please review our Privacy Policy, which also governs the site and informs users of our data collection practices.</p>

    <h3>Copyrights and Trademarks</h3>
    <p>The trademarks, logos, and service marks displayed on the site are the property of InStock or other third parties. You are not permitted to use these Marks without the prior consent of InStock or the third party that owns the Mark.</p>

    <h3>Disclaimer of Warranties</h3>
    <p>The site and its content are delivered on an "as is" and "as available" basis. InStock does not warrant that the site or any of its content will be uninterrupted or error-free.</p>

    <h3>Limitation of Liability</h3>
    <p>In no event will InStock, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for any special, incidental or consequential damages.</p>

    <h3>Contact Information</h3>
    <p>If you have any questions about these Terms, please contact us at support@instock.com.</p>
    <br />
    <br />
    <br />


</div>

@section Js
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}