@{
    ViewBag.Title = "What Do We Do";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";


}

<partial name="_CSS" />
<div class="container mt-4 mb-4">
    <div class="about">
        <div class="title"><h1>About The Company</h1></div>
        <div class="desc"><p>InStock is a leading online retailer dedicated to bringing you an unparalleled shopping experience from the comfort of your home. </p></div>
    </div>
    <div class="row mt-4 mt-3">
        <div class="col-1"></div>

        <div class="col-5">
            <div class="card-detailes text-center">
                <div class="card_img">
                    <i class="fas fa-users fa-3x"></i> <!-- Icon representing community -->
                </div>
                <div class="card_title">
                    <h3>Join Our Community</h3>
                </div>
                <p>Join our community to stay updated with the latest news, offers, and promotions. Connect with fellow shoppers and share your experiences.</p>
            </div>
        </div>
        <div class="col-1"></div>

        <div class="col-5">
            <div class="card-detailes text-center">
                <div class="card_img">
                    <i class="fas fa-boxes fa-3x"></i> 
                </div>
                <div class="card_title">
                    <h4>Our Product Range</h4>
                </div>
                <p>Our store boasts an extensive collection of products selected from the best brands worldwide.</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-1"></div>

        <div class="col-5">
            <div class="card-detailes text-center">
                <div class="card_img">
                    <i class="fas fa-shield-alt fa-3x"></i> 
                </div>
                <div class="card_title">
                    <h4>Quality Assurance</h4>
                </div>
                <p>InStock is committed to providing high-quality products that exceed customer expectations.</p>
            </div>
        </div>
        <div class="col-1"></div>

        <div class="col-5">
            <div class="card-detailes text-center">
                <div class="card_img">
                    <i class="fas fa-hands-helping fa-3x"></i> 
                </div>
                <div class="card_title">
                    <h4>Customer Service Excellence</h4>
                </div>
                <p>We are dedicated to providing exceptional customer service to ensure a positive shopping experience.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>

        <div class="col-5">
            <div class="card-detailes text-center">
                <div class="card_img">
                    <i class="fas fa-lock fa-3x"></i>
                </div>
                <div class="card_title">
                    <h4>Secure and Convenient Shopping</h4>
                </div>
                <p>Shopping at InStock is safe and convenient, with secure transactions and various payment options.</p>
            </div>
        </div>
        <div class="col-1"></div>

        <div class="col-5">
            <div class="card-detailes text-center">
                <div class="card_img">
                    <i class="fas fa-envelope fa-3x"></i> 
                </div>
                <div class="card_title">
                    <h4>Contact Us</h4>
                </div>
                <p>Have questions or need assistance? Contact our customer service team by email or visit our website.</p>
            </div>
        </div>
    </div>
</div>


@section Js
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}