
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}



<div class="container-fluid add-form-list">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Edit Product</h4>
                    </div>
                </div>
                <partial name="_partialEdit" />
            </div>
        </div>
    </div>
</div>