<div class="py-2 px-4 bg-dark text-white mb-3" id="CategoryHeading">
    <strong class="small text-uppercase fw-bold">Category</strong>
</div>
<div id="CategoryContent">
   
        @foreach (var category in ViewBag.Catogery)
        {
            <div class="form-check mb-1">
                <input class="form-check-input" type="radio" name="customRadio" id="radio_@category.Id" value="@category.Id">
                <label class="form-check-label" for="radio_@category.Id">@category.Name</label>
            </div>
        }
    
</div>