<div class="py-2 px-4 bg-dark text-white mb-0 " id="PriceHeading">
    <strong class="small text-uppercase fw-bold">Price range</strong>
</div>
<div id="PriceContent">
    <div class="price-range pt-1 mb-1">
        <div class="price-range pt-4 mb-5">
            <input style="width:100%" type="range" id="minPrice" min="0" max="100000" step="10" value="0" onchange="updatePriceRange()" />
            <span id="currentMin">0</span> - <span id="currentMax">100000</span>
        </div>
    </div>
</div>