<div class="py-2 px-4 bg-dark text-white mb-3" id="Search">
    <strong class="small text-uppercase fw-bold">Search</strong>
</div>
<div style="display: none;" id="SearchContent" class="mb-4">
    <div class="input-group">
        <input class="form-control form-control-lg" type="text" id="searchInput" placeholder="Search products...">
        <button class="btn btn-dark" id="searchButton" type="button">Search</button>
    </div>
</div>