@model EditCategoryVM

<div class="form-group">
    <label asp-for="Name">Name</label>
    <input type="text" class="form-control" asp-for="Name">
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description">Description</label>
    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImagePath">Image</label>
    <input asp-for="ImagePath" type="file" name="imageFormFile" class="form-control-file" accept=".png,.jpg">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<a asp-controller="Category" asp-action="Index" class="btn bg-danger">Cancel</a>





@* @model EditCategoryVM

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Category" data-toggle="validator" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ID" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input asp-for="Name" class="form-control" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea asp-for="Description" class="form-control" style="height:200px"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Image</label>
                                <input asp-for="ImagePath" type="file" name="imageFormFile" class="form-control-file" accept=".png,.jpg" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
 *@