@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";
}

<div class="container-fluid height-100 m-0 d-flex justify-content-center align-items-center">
    <div class="card p-1 py-4">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column ms-1">
                <h5 class="mb-0">to change your password</h5>
                <div class="text-left">
                    <span>we will send only code deals reach you inbox</span>
                </div>
            </div>
        </div>

        <form asp-action="ChangePassword" asp-controller="ChangePassword">

            <div class="px-1 d-flex flex-row gap-2 align-items-center m-1">
                <input name="code" class="form-control h-25" placeholder="Enter Code">
                <button class="btn btn-info">
                    <i class="icon-nav far fa-envelope me-1"></i> Send
                </button>
            </div>

        </form>


    </div>

</div>

@section CSS
{
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Customer/css/profile.css">
}