@model PasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";
}
@section CSS {
    <style>
        .height-100 {
            height: 50vh;
        }

        .card {
            width: 600px;
            border: none;
            box-shadow: 3px 3px 5px 9px #eee;
        }

        .form-control {
            height: 50px;
            border: 2px solid #eee;
        }

            .form-control:focus {
                box-shadow: none;
                border: 2px solid #000;
            }

        .btn-dark {
            height: 50px;
            font-size: 11px;
            padding: 10px;
            width: 100px;
            background-color: #000
        }
    </style>
}
<div class="container-fluid height-100 m-0 d-flex justify-content-center align-items-center">

    <div class="card p-1 py-4">



        <div class="d-flex flex-row">
            <div class="d-flex flex-column ms-1">
                <h5 class="mb-0">new Password</h5>
                <div class="text-left">
                    <span>Create a new Password</span>
                </div>
            </div>
        </div>

        <form asp-action="ChangeOldPassword" asp-controller="ChangePassword" >

            <div class="px-1 d-flex flex-row gap-2 align-items-center m-2">
                <input asp-for="CurrentPassword" class="form-control" placeholder="Enter Current Password">
             
            </div>
            <div class="px-1 d-flex flex-row gap-2 align-items-center m-1">
                <input asp-for="NewPassword" class="form-control" placeholder="Enter new Password">
                <button class="btn btn-dark">Send </button>
            </div>
        </form>




    </div>

</div>