<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title >@ViewData["Title"] - InStock</title>
    <partial name="~/Views/Shared/Admin/_CSSLayout.cshtml"/>
    @await RenderSectionAsync("CSS", false)
</head>
<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">

    <partial name="~/Views/Shared/Admin/_SideBarLayout.cshtml"/>
    <partial name="~/Views/Shared/Admin/_TopNavBarLayout.cshtml"/>
    <partial name="~/Views/Shared/Admin/_ModalLayout.cshtml"/>
    <div class="content-page">
        <div class="container-fluid">
            @RenderBody()
            <span id="Message" class="d-none"> @TempData["Message"]</span>
                <span id="Message" class="d-none"> @TempData["Check"]</span>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/Admin/_JavaScriptLayout.cshtml"/>

@await RenderSectionAsync("JS", false)
@await RenderSectionAsync("JqueryValidation", false)
</body>
</html>