@using Microsoft.AspNetCore.Identity;
@using InStockWebAppDAL.Entities
@inject SignInManager<User> signInManager

@inject UserManager<User> userManager;
<div class="iq-top-navbar">
    <div class="iq-navbar-custom">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                <i class="ri-menu-line wrapper-menu"></i>
                <a href="../backend/index.html" class="header-logo">
                   @*  <img src="~/AdminResources/images/logo.png" class="img-fluid rounded-normal" alt="logo"> *@
                    <h5 class="logo-title ml-3">InStock</h5>

                </a>
            </div>
            <div class="iq-search-bar device-search">
               @*  <form action="#" class="searchbox">
                    <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                    <input type="text" class="text search-input" placeholder="Search here...">
                </form> *@
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list align-items-center">
                        <li>
                            <a href="/Account/Logout" class="btn border add-btn shadow-none mx-2 d-none d-md-block"
                                data-target="#new-order">
                                <i class="ri-logout-box-r-line"></i>Logout
                            </a>
                        </li>





                        @if (signInManager.IsSignedIn(User))
                        {
                            var user = await userManager.FindByNameAsync(User.Identity.Name);


                            <li class="nav-item nav-icon dropdown caption-content">
                                <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/Files/ImageProfile/@user.Photo" class="img-fluid rounded" alt="user">
                                </a>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>