<div class="row mb-3 align-items-center">
    <div class="col-lg-6 mb-2 mb-lg-0">
        <p class="text-sm text-muted mb-0 ShowingProduct">Showing 1–12 of 53 results</p>
    </div>
    <div class="col-lg-6">
        <form id="sortForm">
            <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                <li class="list-inline-item">
                    <select id="sortSelect" class="selectpicker" data-customclass="form-control form-control-sm">
                        <option value="default">Sort By</option>
                        <option value="popularity">Popularity</option>
                        <option value="low-high">Price: Low to High</option>
                        <option value="high-low">Price: High to Low</option>
                    </select>
                </li>
            </ul>
        </form>
    </div>
</div>
