@model CreateDiscountVM

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" asp-controller="Discount" data-toggle="validator" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input asp-for="Name" astype="text" class="form-control" placeholder="Enter Discount Name" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Discount Percentage</label>
                            <input asp-for="Percentage" astype="text" class="form-control" placeholder="Enter Discount Percentage" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea asp-for="Description" class="form-control" placeholder="Enter Discount Description" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label asp-for="Image">Image</label>

                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input asp-for="Image" type="file" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label selected" for="inputGroupFile01"></label>
                                    <input class="ImageName" asp-for="Image" />
                                </div>
                            </div>
                            <span asp-for="Image" class="text-danger"></span>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltip04">Discount Status</label>
                            <select asp-for="IsActive" class="form-control" id="validationTooltip04" required>
                                <option selected disabled value="">Select status</option>
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                            <div class="invalid-tooltip">
                                Please select a valid status.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Add Discount</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>