@model CreateUserVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
} 

  <div class="card">
                  <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Add User</h4>
                    </div>
                  </div>
                  <div class="card-body">
                     <form class="needs-validation" asp-action="Create" asp-controller="User" novalidate>
                        <div class="form-row">
                           <div class="col-md-6 mb-3">
                              <label asp-for="FirstName">First name</label>
                              <input type="text" class="form-control" id="validationTooltip01" asp-for="FirstName" required>
                  
                           </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="LastName">Last name</label>
                                <input type="text" class="form-control" id="validationTooltip01" asp-for="LastName" required>
                         

                            </div>

                            <div class="col-md-6 mb-3">
                                <label asp-for="PasswordHash">Password</label>
                               <input type="password" class="form-control" id="validationTooltip01" asp-for="PasswordHash" required>
                               

                            </div>

                         
                            <div class="col-md-6 mb-3">
                              <label asp-for="UserName">UserName</label>
                              <input type="text" class="form-control" id="validationTooltip01" asp-for="UserName" required>
                               

                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="Email">Email</label>
                                <input type="Email" class="form-control" id="validationTooltip01" asp-for="Email" required>
                               

                            </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltip04">Gender</label>
                            <select class="form-control" id="validationTooltip04" required>
                                <option selected disabled value="">Gender</option>
                                <option value="0">Male</option>
                                <option value="1">FeMale</option>

                            </select>
                            <div class="invalid-tooltip">
                                Please select a valid state.
                            </div>
                            

                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="validationTooltip04">UserType</label>
                            <select class="form-control" id="validationTooltip04" required>
                                <option selected disabled value="">User Type</option>
                                <option value="0">Customer</option>
                                <option value="1">Admin</option>

                            </select>
                            <div class="invalid-tooltip">
                                Please select a valid state.
                            </div>
                  

                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="CityId">CityId</label>
                            <input type="CityId" class="form-control" id="validationTooltip01" asp-for="CityId" required>


                        </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit form</button>
                        <button type="reset" class="btn btn-danger">Reset</button>

                     </form>
                  </div>
               </div>
               @section JS{
                  
               }