@model EditUserVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container-xl px-4 mt-4">

        <div class="row">
            <div class="col-xl-4">

                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">

                        <!-- Existing profile image -->
                        <img class="img-account-profile rounded-circle mb-2" src="@Model.Photo" alt="Profile Image">

                        <!-- File size information -->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>

                        <!-- Image upload input -->
                        <input type="file" id="imageUpload" class="form-control-file" accept="image/png, image/jpeg" style="display: none;" onchange="handleImageUpload(event)" name="Photo">
                        <label for="imageUpload" class="btn btn-primary">Upload new image</label>
                    </div>

                </div>
            </div>
            <div class="col-xl-8">

                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form asp-action="Edit" asp-controller="Customer" method="post">
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" asp-for="FirstName" id="inputFirstName" placeholder="Enter your first name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" asp-for="LastName" id="inputLastName" placeholder="Enter your last name">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" asp-for="Email" id="inputEmailAddress" placeholder="Enter your email address">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" asp-for="PhoneNumber" id="inputPhone" placeholder="Enter your phone number">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="validationTooltip04">Gender</label>
                                    <select asp-for="Gender" class="form-control" id="validationTooltip04">
                                        <option value="">Select Gender</option>
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>

                            <button class="btn btn-primary" type="submit">Save changes</button>
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Discard Edits</a>
                          
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

@section JS {
    <partial name="~/Views/Partials/User/_UserCreateJS.cshtml" />

}
