@model IEnumerable<GetAllRoleVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="row">

    <div class="col-lg-12">
        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
            <div>
                <h4 class="mb-3">Role List</h4>
                <p class="mb-0">Here are all the roles in the system</p>
            </div>
            <a href="javascript:" data-title="Add Role" data-url="/Role/Create" class="btn btn-primary js-render-modal  add-list"><i class="las la-plus mr-3"></i>Add Role</a>
        </div>
    </div>
   
    <div class="col-lg-12">
        <div class="table-responsive rounded mb-3">
            <table class="data-tables table mb-0 tbl-server-info">
                <thead class="bg-white text-uppercase">
                    <tr class="ligth ligth-data">

                        <th>Name</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="ligth-body">
                    @foreach (var item in Model)
                    {
                        <tr>


                            <td>@item.Name</td>

                            <td>
                                <div class="d-flex align-items-center list-action">
                                    <a class="badge badge-info mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="View"
                                       asp-action="Display" asp-controller="Role" asp-route-id="@item.Id">
                                        <i class="ri-eye-line mr-0"></i>
                                    </a>
                                    <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                    @* asp-action="Edit" *@ asp-controller="Role">
                                        <i class="ri-pencil-line mr-0"></i>
                                    </a>
                                    <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                    @* asp-action="Delete" *@ asp-controller="Role">
                                        <i class="ri-delete-bin-line mr-0"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

@section JS {
    <script>
        $(document).ready(function () {
            $('body').delegate('.js-render-modal', 'click', function () {
                var btn = $(this);
                var modal = $('#Modal');

                modal.find('#ModalLabel').text(btn.data('title'));

                if (btn.data('update') !== undefined) {
                    updatedRow = btn.parents('tr');
                    console.log(updatedRow);
                }

                $.get({
                    url: btn.data('url'),
                    success: function (form) {
                        modal.find('.modal-body').html(form);
                        $.validator.unobtrusive.parse(modal);
                    },
                    error: function () {
                        showErrorMessage();
                    }
                });

                modal.modal('show');
            });
        });
    </script>
}