@model IEnumerable<ProductFilterVM>

@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/Customer/_Layout.cshtml";
}
@section CSS{
    <partial name="~/Views/FilterProduct/_CSS.cshtml" />

}
   
      <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                <h1 class="h2 text-uppercase mb-0">Shop</h1>
              </div>
              <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                    <li class="breadcrumb-item"><a class="text-dark"asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <div class="container p-0">
            <div class="row" id="ProductLis">
              <!-- SHOP SIDEBAR-->
                <div class="col-lg-3 order-2 order-lg-1">
                    <partial name="~/Views/Partials/Filter/_Search.cshtml" />
                    <!--Catogery-->
                    <partial name="~/Views/Partials/Filter/_CategoryFilter.cshtml"  />
                    <!--SubCatogery-->
                    <div class="py-2 px-4 bg-dark text-white mb-3 " id="subCategoryHeading">
                        <strong class="small text-uppercase fw-bold">Sub Category</strong>
                    </div>
                    <div id="subCategoryContent" style="display: none;">
                        <partial name="~/Views/FilterProduct/_SubCategoryFilter.cshtml" model="@ViewBag.SubCategory" />
                    </div>
                    <!--Price-->
                    <partial name="~/Views/Partials/Filter/_PriceContent.cshtml" />
                </div>
              <!-- SHOP LISTING-->
              <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">

                <!--Sorted-->
                    <partial name="~/Views/Partials/Sorted/_Sorted.cshtml" />

                    <div class="row" id="productContainer">
                 
                  <!-- PRODUCT-->
                        <div id="productContainer"  class="row">
                            <!-- Product items will be dynamically added here -->
                            <partial name="~/Views/FilterProduct/_ProductList.cshtml" />

                        </div>
                     </div>
                <!-- PAGINATION-->
                    <partial name="~/Views/FilterProduct/_Pagination.cshtml" />

              </div>
            </div>
          </div>
        </section>
      </div>
<partial name="~/views/Product/_Model.cshtml" />

@section JS{
  
    <partial name="~/Views/FilterProduct/_Js.cshtml" />
    <script>
        $(document).ready(function () {
            $('body').on('click', '.js-render-modal', function () {
                var btn = $(this);


                $.ajax({
                    url: btn.data('url'),
                    cache: false,
                    success: function (form) {
                        var Modal2 = $('#Modal');
                        Modal2.find('.modal-dialog').html(form);
                        Modal2.modal('show');
                    },
                    error: function () {
                        showErrorMessage();
                    }
                });
            });

            $('#Modal').on('hidden.bs.modal', function () {
                $(this).find('.modal-dialog').html('');
            });
        });
    </script>
}