@model IEnumerable<ContactMessage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
@section CSS {
    <style>
        .text-small {
            font-size: 0.9rem;
        }

        .messages-box,
        .chat-box {
            height: 510px;
            overflow-y: scroll;
        }

        .rounded-lg {
            border-radius: 0.5rem;
        }

        input::placeholder {
            font-size: 0.9rem;
            color: #999;
        }

     
    </style>
}

<div class="row rounded-lg overflow-hidden shadow">
  
    <div class="col-12 px-0">
        <div class="px-4 py-5 chat-box bg-white">
            <div id="Messagechat" >
                @foreach (var item in Model)
                {
                    <a href="/Contact/Contact/@item.UserID" class="list-group-item  list-group-item-action list-group-item-light mb-2 rounded-0">
                        <img src="~/Files/ImageProfile/@item.Photo" alt="user" width="50" class="rounded-circle mr-3">
                        <div class="media-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="mb-0">@item.FirstName @item.LastName</h6><small class="small font-weight-bold">new</small>
                            </div>
                            <p class="font-italic text-muted mb-0 text-small">@item.Message</p>
                            <p class="font-italic text-muted mb-0 text-small">@item.PhoneNumber</p>
                        </div>
                    </a>
                    <br>
                }


            </div>
        </div>
       
    </div>
</div>

@section JS {
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- SignalR CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.0/signalr.min.js"></script>

    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/Hubs/ChatHub")
            .build();

        connection.start()
            .then(() => console.log("SignalR connection established"))
            .catch(err => console.error("Error starting connection:", err));

        const formDataDiv = document.getElementById('formData');

        connection.on("ReceiveFormFromUser", function (Id,firstName, lastName, email, phone, message, image) {
            var messageHTML = `<a href="/Contact/Contact/${Id}" class="list-group-item ${email} list-group-item-action list-group-item-light mb-2 rounded-0">
                    <img src="/Files/ImageProfile/${image}" alt="user" width="50" class="rounded-circle mr-3">
            <div class="media-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h6 class="mb-0">${firstName} ${lastName}</h6><small class="small font-weight-bold">new</small>
                </div>
                <p class="font-italic text-muted mb-0 text-small">${message}</p>
                <p class="font-italic text-muted mb-0 text-small">${phone}</p>
            </div>
        </a>
        <br>

        `;


            // var SameMessage = $(`.${email}`);
            // console.log(SameMessage);
            // var existingElement = document.querySelector(`.${email}`);
            // console.log(existingElement);
            $('#Messagechat').append(messageHTML);
        });

          
    </script>
}


